<div class="article-container p-4">
    <div class="mb-6">
      <h1 class="text-2xl">Article <strong> {{articleFormGroup.value.title}}</strong></h1>
      <p class="text-gray-600">Article add/edit page. User has permission to add/edit the article.</p>
    </div>
    <form [formGroup]="articleFormGroup" (ngSubmit)="onSubmit()">
        <div class="example-container" class="grid grid-cols-1 gap-4 grid-flow-row">
            <div>
            <mat-form-field intLabel="Max 100 characters" class="w-full">
                <mat-label>Article name</mat-label>
                <input matInput type="text"  maxlength="100" formControlName="title" placeholder="Ex. AI evolution in 2024 " (input)="onInput($event)" />
                <mat-hint align="end">{{value().length}}/100</mat-hint>
            </mat-form-field>
            </div>
            <div class="grid grid-cols-1 gap-4 grid-flow-row">
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Article description</mat-label>
                        <textarea matInput formControlName="description" placeholder="Ex. AI evolution in 2024"></textarea>
                    </mat-form-field>
                </div>                
            <!-- <mat-form-field>
                <mat-label>Select me</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>               -->
            </div>
            <div class="grid grid-cols-4 gap-4 grid-flow-row">
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Article autor</mat-label>
                        <input matInput type="text" formControlName="author" placeholder="Ex. John William" />
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <!-- <mat-label>Enter article date</mat-label>
                        <input matInput type="date" formControlName="date" placeholder="Ex. 2/2/2025" />
                     -->
                        <mat-label>Creation date</mat-label>
                        <input matInput formControlName="date" [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Article views count</mat-label>
                        <input matInput type="text" formControlName="views" readonly/>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Article likes count</mat-label>
                        <input matInput formControlName="likes" readonly />
                    </mat-form-field>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 grid-flow-row">
                <div>
                    <mat-form-field class="w-full">
                        <mat-label>Article comment</mat-label>
                        <textarea matInput formControlName="comments" readonly></textarea>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="grid grid-cols-1 gap-4 grid-flow-row">
                <div>                                        
                    <mat-chip-set aria-label="Article actions">
                        <mat-chip>
                            <button mat-button type="button" color="secondary" (click)="OnGoToContentPage()" >Go to Content page</button>
                        </mat-chip>
                        <mat-chip [disabled]="articleFormGroup.dirty? false: true">
                            <button mat-button type="submit" color="primary" (click)="SetSubmitAction('save')" >Save</button>
                        </mat-chip>                        
                        <mat-chip [disabled]="articleFormGroup.dirty? false: true">
                            <button #saveAndCloseButton mat-button type="submit" color="primary" (click)="SetSubmitAction('saveAndClose')">Save and Close</button>
                        </mat-chip>
                        <mat-chip [disabled]="articleFormGroup.dirty? false: true">
                            <button #saveButton mat-button type="button" color="secondary" (click)="OnCancel()" >Cancel</button>
                        </mat-chip>
                    </mat-chip-set>
                </div>
            </div>
      </div>
    </form>      
</div>

