<div class="settings-container p-4">
    <div class="mb-6">
      <h1 class="text-2xl font-bold">Settings Page</h1>
      <p class="text-gray-600">Settings adjustment options can be found in this page</p>
    </div>
    <div class="text-center"> 
       
        <div id="main" class="mb-8 grid grid-row-3 grid-flow-col gap-1"> 
            <div class="bg-green-300 rounded-lg">1</div> 
            <div class="bg-green-300 rounded-lg">2</div> 
            <div class="bg-green-300 rounded-lg">3</div> 
            <div class="bg-green-500 row-span-2 rounded-lg">4</div> 
            <div class="bg-green-300 rounded-lg">5</div> 
            <div class="bg-green-500 row-span-3 rounded-lg">6</div> 
        </div> 
        <div id="components" class="mb-8 grid grid-cols-4 grid-flow-row gap-1">
            <div class="bg-green-300 rounded-lg">1</div>
            <div class="bg-green-300 rounded-lg">2</div>
            <div class="bg-green-300 rounded-lg">3</div> 
            <div class="bg-green-300 rounded-lg">4</div>
            <div class="bg-green-300 rounded-lg row-span-2"><span>5</span></div>
            <div class="bg-green-300 rounded-lg col-span-3">6</div> 
            <div class="bg-green-300 rounded-lg">7</div>
            <div class="bg-green-300 rounded-lg">8</div> 
            <div class="bg-green-300 rounded-lg">9</div>
            <div class="bg-green-300 rounded-lg">10</div>
        </div>
    </div>
</div>

